/*
 * Empty Stylesheet file.
 */


.mainFxmlClass {

}

.buttonUndo{
    -fx-background-image: url("/main/resources/img/misc/undo.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonRedo{
    -fx-background-image: url("/main/resources/img/misc/redo.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonLamp{
    -fx-background-image: url("/main/resources/img/misc/lamp.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonGear{
    -fx-background-image: url("/main/resources/img/misc/gear.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

#westArrow{
    -fx-background-image: url("/westarrow.png");
}

#eastArrow{
    -fx-background-image: url("/eastarrow.png");
}

#northArrow{
    -fx-background-image: url("/northarrow.png");
}

#southArrow{
    -fx-background-image: url("/southarrow.png");
}
