/*
 * Empty Stylesheet file.
 */

.button{
        -fx-background-image: url("/buttonSkin.png");
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
        -fx-background-size: auto;
}
    

.mainFxmlClass {
}
