/*
 * Empty Stylesheet file.
 */

.imageMenu{
    -fx-image: url("/main/resources/img/misc/logo.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;    
}

.imageBackground{
    -fx-background-image: url("/main/resources/img/misc/background.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
}

.buttonNewGame{
    
    -fx-background-image: url("/main/resources/img/misc/newGame.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonNewGame:hover{
    
    -fx-background-image: url("/main/resources/img/misc/newGame_Hover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonLoadGame{
    -fx-background-image: url("/main/resources/img/misc/LoadGame.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonLoadGame:hover{
    -fx-background-image: url("/main/resources/img/misc/loadGame_Hover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonRules{
    -fx-background-image: url("/main/resources/img/misc/GameRules.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonRules:hover{
    -fx-background-image: url("/main/resources/img/misc/rules_Hover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonTutorial{
    -fx-background-image: url("/main/resources/img/misc/didacticiel.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonTutorial:hover{
    -fx-background-image: url("/main/resources/img/misc/didacticiel_Hover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonOptions{
    -fx-background-image: url("/main/resources/img/misc/options.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonOptions:hover{
    -fx-background-image: url("/main/resources/img/misc/options_Hover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonLeave{
    -fx-background-image: url("/main/resources/img/misc/quit.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonLeave:hover{
    -fx-background-image: url("/main/resources/img/misc/quit_Hover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}
    

.mainFxmlClass {
}
