/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mai 2017, 09:25:29
    Author     : gontardb
*/

.buttonLaunchGame{
    
    -fx-background-image: url("/launchGame.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonLaunchGame:hover{
    
    -fx-background-image: url("/launchGame_Hover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonMenu{
    
    -fx-background-image: url("/mainMenu.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonMenu:hover{
    
    -fx-background-image: url("/mainMenu_Hover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}