/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mai 2017, 09:25:29
    Author     : gontardb
*/

.backgroundImage{ 
    -fx-background-image: url("/main/resources/img/misc/background.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonLaunchGame{
    
    -fx-background-image: url("/main/resources/img/misc/launchGame.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonLaunchGame:hover{
    
    -fx-background-image: url("/main/resources/img/misc/launchGame_Hover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonMenu{
    
    -fx-background-image: url("/main/resources/img/misc/mainMenu.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

.buttonMenu:hover{
    
    -fx-background-image: url("/main/resources/img/misc/mainMenu_Hover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

#pvpChoice{
    -fx-background-image: url("/main/resources/img/misc/humanvshuman.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}

#pvpChoice:hover{
    -fx-background-image: url("/main/resources/img/misc/humanvshumanhover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}

#pvpChoice:selected{
    -fx-background-image: url("/main/resources/img/misc/humanvshumanhover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}

#pvaiChoice{
    -fx-background-image: url("/main/resources/img/misc/humanvsai.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}
#pvaiChoice:hover{
    -fx-background-image: url("/main/resources/img/misc/humanvsaihover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}

#pvaiChoice:selected{
    -fx-background-image: url("/main/resources/img/misc/humanvsaihover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}

#hardAI{
    -fx-background-image: url("/main/resources/img/misc/hardAI.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}
#hardAI:hover{
    -fx-background-image: url("/main/resources/img/misc/hardAIhover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}

#hardAI:selected{
    -fx-background-image: url("/main/resources/img/misc/hardAIhover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}

#mediumAI{
    -fx-background-image: url("/main/resources/img/misc/mediumAI.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}
#mediumAI:hover{
    -fx-background-image: url("/main/resources/img/misc/mediumAIhover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}

#mediumAI:selected{
    -fx-background-image: url("/main/resources/img/misc/mediumAIhover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}

#easyAI{
    -fx-background-image: url("/main/resources/img/misc/easyAI.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}
#easyAI:hover{
    -fx-background-image: url("/main/resources/img/misc/easyAIhover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}

#easyAI:selected{
    -fx-background-image: url("/main/resources/img/misc/easyAIhover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent
}