/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11 mai 2017, 10:33:21
    Author     : duvernet
*/

#titleRulesScreen{
    -fx-image: url("/rules.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
}


#goalGame::hover{
    -fx-background-color: #e1ab0a;
}

.panelItemTitle{
     -fx-background-color: #e1ab0a;
}

.panelItem{
    
}

#imageBackground{
    -fx-background-image: url("/background.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
}

#buttonMenu{
    
    -fx-background-image: url("/mainMenu.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}

#buttonMenu:hover{
    -fx-background-image: url("/mainMenu_Hover.png");
    -fx-background-size:stretch;
    -fx-background-alignement:center center;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-radius: 0px, 0px, 0px, 0px;
    -fx-background-color: transparent;
}
#separator{
    -fx-background-color: #e1ab0a;
}

#gridMenuRules{  
  -fx-border-color : #e1ab0a;
  -fx-border-width: 3 ; 
}

